<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	id="cordova-plugin-data-file-transceiver" version="0.1.0">

<name>Cordova data transceiver plugin</name>

<license>HDU</license>

<keywords>dataTransceiver</keywords>

<description>Upload local data and file to remote server</description>

<author>Leibi</author>

<engines>
	<engine name="cordova" version=">=3.3.0" />
</engines>

<js-module src="www/dataTransceiver.js" name="dataTransceiver.js">
	<clobbers target="dataTransceiver" />
</js-module>

<dependency id="cordova-plugin-operate-plist" url="https://github.com/bl905060/cordova-plugin-operate-plist.git" />
<dependency id="cordova-plugin-progress" url="https://github.com/leecrossley/cordova-plugin-progress.git" />
<dependency id="cordova-sqlite-storage" url="https://github.com/litehelpers/Cordova-sqlite-storage" />

<!-- ios -->
<platform name="ios">
	<config-file target="config.xml" parent="/widget">
		<feature name="dataTransceiver">
			<param name="ios-package" value="dataTransceiver" />
		</feature>
	</config-file>

	<header-file src="src/ios/dataTransceiver.h" />
	<source-file src="src/ios/dataTransceiver.m" />
</platform>
</plugin>
